* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

article {
    max-width: 910px;
    margin: 20px auto;
    padding: 15px;
}

.hero-image {
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
}

h1 {
    color: #9f2042;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
}

h3 {
    text-align: center;
    padding-bottom: 25px;
    color: #a9a9ba;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-size: 20px;
    padding: 15px 20px 15px 20px;
}

blockquote {
    background-color: #ececec;
    font-size: 25px;
    padding: 25px 65px 25px 65px;
}

.links {
    font-size: 20px;
    padding: 25px 0 25px 45px;
}

.links a {
    margin-left: 25px;
    color: #ec8295;
    text-decoration: none;
}

.links a:hover {
    color: lightblue;
}

footer {
    background-color: #29293a;
    padding: 20px 0 45px 15px;
    color: #fff;
}

.nav {
    padding-left: 10px;
    font-size: 20px;
}

.nav a {
    margin: 0 10px;
    color: #ec8295;
    text-decoration: none;
}

.nav a:hover {
    color: lightblue;
}